.nt-dashboard{
  background-color: #282c34;
}
.nt-sidenav {
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:  #151920;
    overflow-x: hidden;
    padding-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 7px 29px 0px;
  }
  .nt-sideHead{
    padding: 4% 3% 0% 0%;
    text-align: center;
  }
  .nt-profile{
    padding: 1% 3% 4% 0%;
    text-align: center;
    color: rgb(163, 163, 163);
    margin-bottom: 10%;
  }
  .nt-sav-links{
    
  }
  .nt-sidenav a {
    padding: 4% 3% 2% 15%;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border-bottom: 1px solid #282c34;
  }
  
  .nt-sidenav a:hover {
    color: #f1f1f1;
  }
  
  .nt-main {
    margin-left: 15%; /* Same as the width of the sidenav */
    font-size: 20px; 
    z-index: 10;
    color: #818181;
  }


/* @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  } */

  .nt-navbar {
    overflow: hidden;
    background-color: #191d25;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .nt-navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .nt-main-cont{
    margin-top: 3%;
    padding: 4%;
  }