$color-white: #ffffff;
$color-black: #252a32;
$color-light: #f1f5f8;
$color-red: #d32f2f;
$color-blue: #0061a8;
$color-light-blue: #d8e3e7;

@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1.5;
  color: $color-white;
  scrollbar-width: 0px; /* "auto" or "thin" */
  scrollbar-color: $color-blue $color-black;
}
/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: $color-blue $color-black;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 0px;
  display: none;
}

*::-webkit-scrollbar-track {
  background: $color-black;
}

*::-webkit-scrollbar-thumb {
  background-color: $color-blue;
  border-radius: 10px;
  border: 0px solid $color-black;
}

.akila-hidden {
  display: none;
}

.akila-header {
  color: #ffffff;
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  .akila-navbar {
    color: #ffffff;
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-basis: auto;
    justify-content: space-between;
    align-items: center;
    max-width: 90rem;
    width: 100%;
    padding: 1rem 4rem;
    margin: 0 auto;

    .akila-brand {
      font-family: inherit;
      font-size: 1.75rem;
      color: #ffffff;
      font-weight: 700;
      line-height: inherit;
      text-transform: uppercase;
      color: $color-white;
    }

    .akila-menu {
      display: flex;
      flex-direction: row;
      flex: 1;
      flex-basis: auto;
      justify-content: center;
      align-items: center;

      &-item {
        &:not(:first-child) {
          margin-left: 2rem;
        }

        a {
          font-family: inherit;
          font-size: 1rem;
          font-weight: 700;
          line-height: inherit;
          color: $color-white;
          text-transform: uppercase;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .akila-header {
    .akila-navbar {
      padding: 1rem 2rem;
      margin: 0 auto;

      .akila-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 0;
        background: $color-light;
        transition: all 0.3s ease;

        .akila-menu {
          display: flex;
          flex-direction: column;
          position: absolute;
          top: 25%;
          width: 100%;
          transform: translateY(-50%);

          &-item {
            padding-bottom: 1rem;
            width: 100%;
            text-align: left;

            &:nth-child(1) a {
              transition-delay: 0.2s;
            }
            &:nth-child(2) a {
              transition-delay: 0.3s;
            }
            &:nth-child(3) a {
              transition-delay: 0.4s;
            }
            &:nth-child(4) a {
              transition-delay: 0.5s;
            }

            &:not(:first-child) {
              margin-left: 0;
            }

            a {
              padding: 1rem 2rem;
              opacity: 0;
              color: $color-white;
              font-size: 1rem;
              font-weight: 600;
              transform: translateX(-20px);
              transition: all 0.3s ease-in-out;
            }
          }
        }
      }

      .akila-nav-toggle {
        display: block;
        position: fixed;
        right: 1rem;
        top: 1rem;
        width: 2.5rem;
        height: 2.5rem;
        cursor: pointer;
        z-index: 999;

        span {
          display: block;
          width: 20px;
          height: 2px;
          background: $color-black;
          border-radius: 2px;
          margin-left: 14px;

          &:nth-child(1) {
            margin-top: 16px;
          }
          &:nth-child(2) {
            margin-top: 4px;
            opacity: 1;
          }
          &:nth-child(3) {
            margin-top: 4px;
          }
        }
      }

      #nav:checked + .akila-nav-toggle {
        transform: rotate(45deg);

        span {
          background: $color-black;
          transition: transform 0.5s ease;

          &:nth-child(1) {
            transform: translateY(6px) rotate(180deg);
          }
          &:nth-child(2) {
            opacity: 0;
          }
          &:nth-child(3) {
            transform: translateY(-6px) rotate(90deg);
          }
        }
      }

      #nav:checked ~ .akila-wrapper {
        z-index: 99;
        opacity: 1;

        .akila-menu {
          &-item {
            a {
              opacity: 1;
              transform: translateX(0);
            }
          }
        }
      }
    }
  }
}

.akila-main-1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url("../../media/akila/main.png");
  height: 100vh;
}

body::-webkit-scrollbar {
  width: 9px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: $color-black; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: $color-blue; /* color of the scroll thumb */
  border-radius: 6px; /* roundness of the scroll thumb */
  border: 1px solid $color-black; /* creates padding around scroll thumb */
}
.akila-main-topic {
  text-align: left;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 10%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 4vw;

  h2 {
    font-size: 2vw;
  }
  h3 {
    font-family: "Antonio", sans-serif;
    font-size: 3vw;

    span {
      font-size: 2vw;
    }
  }

  img {
    color: $color-white;
    width: 2vw;
  }
  span {
    font-size: 1.5vw;

    a {
      color: #ffffff;
      text-decoration: underline;
    }
  }
}
.akila-about-icaf {
  margin-top: 98vh;
  color: #252a32;
  //overflow-x: hidden;

  .flex-container {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
  }

  .flex-container {
    text-align: left;
    padding-left: 40px;
    text-align: left;
    line-height: 140px;

    h1 {
      font-size: 5vw;
    }
    h2 {
      font-size: 7vw;
      margin-left: 3vw;
    }

    .info {
      background-color: #d8e3e7;
      line-height: normal;
      padding-top: 3%;
      margin-left: 5%;
      padding-left: 3%;
      padding-right: 6%;
      text-align: justify;
    }
  }
}


.akila-latest-news::-webkit-scrollbar{
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
.akila-latest-news {
  margin-top: 3%;
  color: #252a32;
  text-align: center;
  font-size: 2vw;

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  span {
    text-decoration: underline;
    font-size: 3vw;
  }

  .flex-container {
    padding: 20px;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    overflow-x: auto;
  }

  .flex-container::before {
    content: none;
    border-left: #252a32 2px solid;
  }

  .flex-container > div {
    background-color: #f1f1f1;
    width: auto;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }
}

.akila-news-card {
  width: 300px;
  border-left: $color-blue 4px solid;
  line-height: 40px;
  padding: 10px;
  h1 {
    font-size: 20px;
  }
  p {
    font-size: small;
  }
  a{
    text-align: center;
  }

  .btn {
    text-align: center;
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid $color-blue;
    border-radius: 0.0rem;
    color: $color-blue;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 10px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;

    &:hover,
    &:focus {
      color: #fff;
      outline: 0;
    }
  }
      .fourth {
      // background: $yellow;
      text-align: center;
      border-color: $color-blue;
      color: $color-blue;
      background: {
        image: linear-gradient(45deg, $color-blue 50%, transparent 50%);
        position: 100%;
        size: 400%;
      }
      transition: background 300ms ease-in-out;

      &:hover {
        background-position: 0;
      }
    }
}
.akila-keynote-speakers {
  height: auto;
  margin-top: 100px;
  color: #252a32;
  //overflow-x: hidden;

  .topics{
    margin-top: 100px;
  }

  .flex-container {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
  }

  .flex-container {
    text-align: left;
    padding-left: 40px;
    text-align: left;
    line-height: 100px;

    h1 {
      font-size: 5vw;
    }
    h2 {
      font-size: 7vw;
      margin-left: 3vw;
    }

    .info {
      width: 100%;
      line-height: normal;
      padding-left: 5%;
      text-align: justify;
    }
  }

  table{
    width: 100%;
    tr{
      width: 100%;
    }
    td{
      width: 50%;
    }
  }

  .akila-speaker{

    img{
      width: 100%;
      background: linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8));
      filter: grayscale(140%);
    }

      position: relative;

     
  }
}
.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  padding: 20px;
  text-align: left;

  h1{
    font-size: 1px;
  }
}
.akila-speaker:hover .overlay {
  opacity: 1;
}

.coveringCanvas{
  width:100%;
  height:99%;
  position:absolute;
  top:0px;
  left:0px;
  background-color: RGBA(0,123,255,0.3);
}
.coveringCanvasTwo{
  width:100%;
  height:99%;
  position:absolute;
  top:0px;
  left:0px;
  background-color: RGBA(232,43,21,0.45);
}
.akila-keynote-morekeynote{
  width: 100%;
  margin-top: 2%;

  h1{
    text-align: center;
    color: black;
    font-size: 3vw;

    span{
      font-size: 4vw;
      text-decoration: underline;
    }
  }

  figcaption {
    padding: 10px;
    line-height: 1.5;
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    color: black;
  }

  table{
    td{
      //width: 100px;
      padding-left: 80px;
    }
  }
}