.addResearcherBack{

    background:linear-gradient(
          rgba(0, 0, 0, 0.3), 
          rgba(0, 0, 0, 0.3)
        ),url(../../media/Mahen/public-speaking.jpeg);
    opacity: 0.9;
    background-size: cover;
    background-position: top;
    min-height: 100%;
    height: 100vh;
    position: relative;
}

.regForm_FlexContainer{
    display: flex;
}
.regFormBack{
    background-color : rgba(0, 0, 0, 0.8);
    flex : 4;
    margin-top:0px;
    margin-left:60px;
    margin-right:60px;
    padding: 40px;
    border-radius: 10px;
    height: 90vh;
    overflow-y: scroll;
}

.regFormRight{
    flex : 3
}
.regHeading{
    background-color: #fc4c1c;
    padding : 20px;
    display: flex;
    justify-content: center;
    font-size: 20px;
}

.regSubHeading{
    background-color: #fc4c1c;
    padding : 20px;
    display: flex;
    justify-content: start;
    font-size: 14px;
}

.Regform-inner{
    margin-top: 20px;
    margin-bottom: 20px;
}

.form-container{
    display: flex;
    margin-bottom: 15px;
    align-items: flex-start;
}

.column-form-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-Element-Title{
    font-weight: bolder;
    flex : 2;
}

.form-row-container{
    display: flex;
    flex: 9;
    align-items: flex-start;
}

input[type=text] , input[type=email], input[type=number] , input[type=password] , select{
    border-radius: 5px;
    height: 5vh;
    font-size: 16px;
    padding: 5px;
    font-weight: bold;
    
}
input[type=email]{
    width: 50vh;
}
input[type=text]:focus{
    outline: white;
    box-shadow: inset -1px -1px 3px rgba(0, 0, 0, .3)
}
.form-Element-container{
    display: flex;
    flex-direction: column;
    float: left;
    margin-left: 5px;
    margin-right: 5px;
}
label{
    float:left;
    font-size: 12px;
    
}

#CountryCode{
    width:7vh;
}
.Researcher-form-input-address-extras{
    width: 15vh;
}
.Researcher-form-input-name{
    width:25vh
}
.Researcher-form-input-long{
    width:55vh
}
.qualification-container{
    display: flex;
    flex-direction: column;
    outline:solid;
    padding:20px;
    margin-bottom: 15px;
    margin-left: 25px;
    align-items: flex-start;
}
.qualification-row{
    margin-bottom: 20px;
}

.success-btn{
    color: black;
    background-color: #00B74A;
    width : 20vh;
    height : 5vh;
    font-weight: bolder;
    border-radius: 5px;
    outline: none;
	transition: all 0.2s;
    margin-left: 5px;
    margin-right: 5px;
}
.success-fail{
    color: black;
    background-color: #F93154;
    width : 20vh;
    height : 5vh;
    font-weight: bolder;
    border-radius: 5px;
    outline: none;
	transition: all 0.2s;
    margin-left: 5px;
    margin-right: 5px;
}
.success-btn::before{
    
	width: 100%;
	height: 100%;
    color: yellow;
	z-index: 1;
	
	transition: all 0.2s;
}
.success-btn:hover{
    background-color: #00E676;
	transform: scale(1.1,1.1);
}
.success-fail:hover{
    background-color: #FF1744;
	transform: scale(1.1,1.1);
}
.success-btn::after {
	z-index: 1;
	opacity: 0;
    color: yellow;
	transition: all 0.3s;
	border: 1px solid rgba(255,255,255,0.5);
	transform: scale(1.2,1.2);
}
.success-btn:hover::after {
    color: yellow;
    background-color: yellow;
	transform: scale(1,1);
}

.passwordSection-container{
    flex: 1;
}
.form-btn-container{
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
    margin-bottom: 50px;
}