.addResearcherBack{

    background:linear-gradient(
          rgba(0, 0, 0, 0.3), 
          rgba(0, 0, 0, 0.3)
        ),url(../../media/Mahen/public-speaking.jpeg);
    opacity: 0.9;
    background-size: cover;
    background-position: top;
    min-height: 100%;
    height: 100vh;
    position: relative;
}

.regForm_FlexContainer{
    display: flex;
}
.regFormBack{
    background-color : rgba(0, 0, 0, 0.8);
    flex : 4;
    margin: 60px;
    padding: 40px;
}

.regFormRight{
    flex : 3
}

