
.uditha-current-conf-detail{
    color: #f1f5f8;
    margin-left: 10%;
    margin-top: 5%;
}
.uditha-reviewers{
    margin-left: 5%;
    margin-top: 5%;
}

.uditha-edit-content{
    color: paleturquoise;
    margin-left: 10%;
    margin-top: 15%;
}

.uditha-reviewer-card-align{
    left: 85%;
    top: 65%;

}

.button-add-reviewer{
    margin-left: 65%;
    margin-top: -10px;
    background-color: blue;
    border-radius:50px;
    border:0px solid blue;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Verdana;
    font-size:19px;
    font-weight:bold;
    padding:10px 13px;
    text-decoration:none;
    text-shadow:0px 0px 0px blue;
}

.button-add-reviewer:hover {
    background-color: #0daad1;
}
.button-add-reviewer:active {
    position:relative;
    top:1px;
}


.uditha-conf-detail-card-align{
    left: 15%;
    top: 65%;
}

.uditha-main-card-align{
    left: 50%;
    top: 65%;
}

.uditha-main-card{
    position: absolute;
    width: 40%;
    height: 60%;
    background-image: url("../../media/akila/main.png");
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    box-shadow: 0 1px 4px rgba(0,0,0,1);
    border-radius: 5px;
    overflow: auto;
}

.uditha-card{
    position: absolute;
    width: 25%;
    height: 60%;
    background-color: #2C3539;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    box-shadow: 0 1px 4px rgba(0,0,0,1);
    border-radius: 5px;
    display: flex;
    overflow: auto;
}


.uditha-small-card{
    position: absolute;
    width: 18%;
    height: 18%;
    transform: translate(-50%, -50%);
    color: #f1f5f8;
    font-size: 1.5vw;
    box-sizing: border-box;
    box-shadow: 0 1px 4px rgba(0,0,0,1);
    border-radius: 5px;
    display: flex;
}



.workshopcard-align{
    left: 12%;
    top: 20%;
    background: rgb(191,70,30);
    background: linear-gradient(45deg, rgba(191,70,30,1) 0%, rgba(214,154,98,1) 100%);
}

.research-align{
    left: 37%;
    top: 20%;
    background: rgb(2,0,36);
    background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(57,57,194,1) 0%, rgba(0,212,255,1) 100%);
}

.participation-align{
    left: 62%;
    top: 20%;
    background: rgb(106,21,139);
    background: linear-gradient(45deg, rgba(106,21,139,1) 0%, rgba(176,116,203,1) 100%);
}

.other-align{
    left: 87%;
    top: 20%;
    background: rgb(17,126,43);
    background: linear-gradient(45deg, rgba(17,126,43,1) 0%, rgba(97,218,154,1) 100%);
}

.uditha-workshop-stat-card{
    position: absolute;
    left: 50%;
    top:25%;
    width: 80%;
    height: 12%;
    margin-top: 5%;
    transform: translate(-50%, -50%);
    color: #f1f5f8;
    background-color: #0daad1;
    font-size: 1.5vw;
    box-sizing: border-box;
    box-shadow: 0 1px 4px rgba(0,0,0,1);
    border-radius: 5px;
    display: flex;
}

.uditha-research-stat-card{
    position: absolute;
    left: 50%;
    top: 65%;
    width: 80%;
    height: 12%;
    margin-top: 5%;
    transform: translate(-50%, -50%);
    color: #f1f5f8;
    background-color: #18ab29;
    font-size: 1.5vw;
    box-sizing: border-box;
    box-shadow: 0 1px 4px rgba(0,0,0,1);
    border-radius: 5px;
    display: flex;
}

.uditha-workshop-stat-align{
    margin: auto;
}
.uditha-research-stat-align{
    margin: auto;
}

.uditha-workshop-allowed{
    position: absolute;
    top: 40%;
    left: 15%;

}

.uditha-workshop-status{
    position: absolute;
    top: 50%;
    left: 15%;
}

.uditha-research-allowed{
    position: absolute;
    top: 80%;
    left: 15%;

}
.uditha-research-status{
    position: absolute;
    top: 90%;
    left: 15%;

}


.smallcard-text-align{
    margin-left: 25%;
    margin-top: 5%;
}

.uditha-add-reviewer-form{

    position: absolute;
    top: 60%;
    left: 50%;
    width: 800px;
    height: 450px;
    padding: 40px;
    color: azure;
    background-color: #282c34;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.8);
    border-radius: 10px;
    align-content: center;
    overflow: auto;

}

.uditha-form-control{
    position: absolute;
    top: 50%;
    left: 72%;
    width: 400px;
    height: 420px;
    padding: 40px;
    color: azure;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.8);
    border-radius: 10px;
    overflow: auto;

}

.uditha-text-control{
    width: 300px;
    height: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-style: hidden;
    text-align: center;
    font-family: "Arial Black";
}

.uditha-add-button{

    width: 150px;
    height: 35px;
    margin-top: 20px;
    margin-left: 25%;
    background-color: #0061a8;
    border-radius: 20px;
    border-style: hidden;
    align-content: center;
}

.uditha-add-button:hover {
    background-color: #0daad1;
}

.uditha-notify-button{
    position: absolute;
    width: 150px;
    height: 35px;
    left: 70%;
    top:10%;
    background-color: orange;
    border-radius: 5px;
    border-style: hidden;
    align-content: center;
}

.uditha-notify-button:hover {
    background-color: gold;
}

.uditha-avatarInput{
    position: absolute;
    top: 80%;
    left: 10%;
}
.uditha-avatar-Preview{
    position: absolute;
    top: 25%;
    left: 10%;
}

.uditha-old-avatar-Preview{
    position: absolute;
    top: 25%;
    left: 10%;
}

.navbar{
    width: 100%;
    background-color: #282c34;
    overflow: auto;
    border-bottom-style: solid;
    border-bottom-color: #0daad1;

}

.navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
}


.navbar a:hover {
    background-color: #000;
}


.active {
    background-color: #0061a8;
}

@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
    }
}


.blink {

    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% { opacity: 0.4; }
}