.uploadResearchPaperBack{

    background:linear-gradient(
          rgba(0, 0, 0, 0.3), 
          rgba(0, 0, 0, 0.3)
        ),url(../../media/Mahen/big-data-connector-intro.webp);
    opacity: 0.9;
    background-size: cover;
    background-position: top;
    min-height: 100%;
    height: 100vh;
    position: relative;
}
.paper-bounderies{
    padding-top: 10px;
    padding-bottom: 10px;
}
.form-container-bounderies{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.topic-Seperator{
    color: #fc4c1c;
    background-color: #fc4c1c;
    height: 1.4vh;
    width : 40%;
    border-radius: 30px;
}